@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

#worldmap {
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    justify-content: center;
}

#knop {
    display: flex;
    justify-content: center;
}

#wereldbol {
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

/*Alle 250 landen op de population page */
#listOfCountries {
    column-count: 3;
    align-items: center;
    border-radius: 3px;
    border: black solid;
}
/*Zoek knop op home*/
#search_button {
    background-color: hsl(218, 100%, 84%);
    color: black;
    border-radius: 12px;
    width: 90px;
    height: 35px;
}
/*Knop om naar home en popultion pagina te gaan*/
#nextPage {
    background-color: hsl(218, 100%, 84%);
    color: black;
    border-radius: 12px;
    width: 90px;
    height: 35px;
}

#showPicture {
    display: flex;
    align-items: center;
}

#country_info_display {
    display: flex;
    align-items: center;
    width: 400px;
}

/* Zoek veld om in te typen */
#text_field {
    background-color: white;
    color: blue;
    border-radius: 12px;
    width: 150px;
    height: 30px;
    align-content: center;
}
/*Hier zit de country info, error en flag in op de home page*/
/*Geeft de kleur van de tekst per regio*/
.blue {
    color: #90A3D0;
}
.green {
    color: #4C824B;
}
.red {
    color: #D14E5B;
}
.yellow {
    color: #FFD435;
}
.purple {
    color: #A756BB;
}
.black {
    color: #020202;
}
.flag {
    width: 40px;
}




