@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/*body {*/
/*    font-family: 'Lora', serif;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    padding: 50px;*/
/*    !*background-image: url(./backgroundpicture/earth-country.jpg); *!*/
/*    display: grid;*/
/*    row-gap: 16px;*/
/*    column-gap: 16px;*/
/*    grid-template-columns: 1fr 1fr 1fr;*/
/*    grid-template-rows: 50px 150px 150px ;*/
/*    grid-template-areas:*/
/*                        ". c c"*/
/*                        "b a ."*/
/*                        "d d d"*/
/*}*/

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wereldbol {
    padding: 40px;
}

/*Alle 250 landen op de population page */
#listOfCountries {
    column-count: 3;
    align-items: center;
    border-radius: 3px;
    border: black solid;
}
/*Zoek knop op home*/
#search_button {
    background-color: white;
    color: black;
    border-radius: 12px;
    width: 90px;
    height: 35px;
}
/*Knop om naar home en popultion pagina te gaan*/
#nextPage {
    background-color: white;
    color: black;
    border-radius: 12px;
    width: 90px;
    height: 35px;
}

/* Zoek veld om in te typen */
#text_field {
    background-color: white;
    color: blue;
    border-radius: 12px;
    width: 150px;
    height: 30px;
    align-items: center;
}
/*Hier zit de country info, error en flag in op de home page*/
#group {
    grid-area: b;
    flex: border-box;
    flex-direction: column;
    justify-items: left;
}

#country_info_display {
    color: black;
    align-items: center;
    width: 350px;
}

/*Geeft de kleur van de tekst per regio*/
.blue {
    color: #90A3D0;
}
.green {
    color: #4C824B;
}
.red {
    color: #D14E5B;
}
.yellow {
    color: #FFD435;
}
.purple {
    color: #A756BB;
}
.black {
    color: #020202;
}
.flag {
    width: 40px;
}


